#root {
  background-color: rgb(130, 130, 130);
  background-size:cover;
}

.sky{
  position: absolute;
  background-image: url("/src/assets/images/nighttime_scene.png");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 140vh;
  z-index: 0;
}
.moonperson {
  width: 200px;
  top: 20px;
  left: 50px;
  position: absolute;
}

#moon{
  padding: 1px;
  height: 100vh;
  width: 40vw;
  z-index: 1;
}

.nighttime{
  background-color: black;
  padding: 1px;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.scene{
  background-color: black;
  padding: 1px;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


html {
  scroll-behavior: smooth;
  background-color: rgb(130, 130, 130);
  background-size:cover;
}

body {
  font-family: sans-serif;
}
/* 
header {
  position: sticky;
  top: 0;
} */

div {
  padding: 5px;
}

.logout {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: white;
  text-align:center;
}

a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none;}


a:hover { text-decoration: none; color: black;}


a:active { text-decoration: none; }


#signup {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(160, 160, 160);
  padding: 10px;
  color: rgb(10, 43, 10);
  text-align: center;
}

.circular-images {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding: auto;
}

.circular-images-signup {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 99;
  object-fit: cover;
  padding: auto;
}

.circular-images-large {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 99;
  object-fit: cover;
  padding: auto;
}


.circular-images-signup:hover {
  background-color: rgba(0, 0, 0, 0.407);
}

.circular-images-signup:focus {
  background-color: rgba(0, 0, 0);

}

#login {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(160, 160, 160);
  padding: 10px;
  color: rgb(10, 43, 10);
  text-align: center;
}

.plain {
 all: unset;
 padding: 3px;
}

.plain:hover{
  text-shadow: 0 0 4px black, 0 0 5px black, 0 0 6px black, 0 0 7px black, 0 0 8px black, 0 0 9px black, 0 0 10px black, 0 0 11px black, 0 0 12px black, 0 0 13px black, 0 0 14px black, 0 0 15px black, 0 0 16px black, 0 0 17px black, 0 0 18px black, 0 0 19px black;
  
}


#mediaImage{
  top: 400px;
  left: 200px;
  position: absolute;
  height: 300px;
}


#clothesImage{
  top: 370px;
  left: 500px;
  position: absolute;
  height: 300px;
}


#paintingImage{
  top: 420px;
  left: 680px;
  position: absolute;
  height: 300px;
  z-index: 1;
}

.roomy{
  position: absolute;
  top:0;
  left:0;
  background-repeat: no-repeat;
  background-image: url('/src/assets/images/room_unpacking.png');
  background-size: cover;
  z-index: 5;
  width: 1100px;
  height: 800px;


}