.computerbackground{
  background-image: url("./src/assets/images/computer-background.png");
  height: 95vh;
  width: 80vw;
  background-size: cover;
  z-index: 0;
}

#tasks{
z-index: 15;
position: absolute;
top: 150px;
left: 200px;
height: 10vh;

}

#snake{
  z-index: 15;
position: absolute;
top: 260px;
left: 170px;
height: 10vh;
}


#snakeDiv{
  padding-left: 30px;
  padding-top: 40px;
  color:white;
}

#romancemovie{
  z-index: 15;
  position: absolute;
  top: 400px;
  left: 170px;
  height: 8vh;
}