.computerbackground{
  background-image: url("./src/assets/images/computer-background.png");
  height: 750px;
  width: 1000px;
  background-size: cover;
  z-index: 0;
  margin: 0;
  overflow: hidden;
}

iframe{
  width: 400px;
  height: 225px;
  transform: rotate(-1deg);
}
#tasks{
z-index: 15;
position: absolute;
top: 150px;
left: 200px;
height: 80px;

}

#snake{
z-index: 15;
position: absolute;
top: 260px;
left: 170px;
height: 80px;
}


#snakeDiv{
  padding-left: 10%;
  padding-top: 20%;
  color:black;
  position: absolute;
  height: 95vh;
}

#romancemovie{
  z-index: 15;
  position: absolute;
  top: 400px;
  left: 200px;
  height: 60px;
}

#movieplayer{
  z-index: 15;
  position: absolute;
  padding-left: 30px;
  padding-top: 60px;
}