
.user-item {
  z-index: 50;
  position: fixed;
  right: 20px;
  text-align: center;
}


li {
 list-style: none;
 text-align: center;
}

.bag{
  background-color: transparent;
  width: 70px;
  height: 80px;
  position: absolute;
  top: 260px;
  left: 35px;
}