html {
  scroll-behavior: smooth;
  resize: none;
}

.signupButton{
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: smaller;
}

#red {
  color: red;
}
.descript {
  text-align: left;
  width: 200px;
  z-index: 10;
  font-size: small;
}

h5 {
  text-align: center;
}

.containerHeader {
  justify-content: center;
  text-align: center;
}

.artifactRoom {
  z-index: 0;
  width: 400px;
  top: 200px;
  left: 400px;
  position: absolute;
}

body {
  font-family: sans-serif;
  resize: none;
}

.pstyle1 {
  transform: rotate(-1deg);
  font-size: smaller;
  width: 400px;
  padding: 2px;
}

.canvas {
  display: inline-block;
  width: 500px;
  height: auto;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#talkingtome {
  position: absolute;
  width: 250px;
  color: white;
  top: 400px;
  left: 400px;
  font-style: bold;
  z-index: 20;
  text-shadow: 0 0 4px black, 0 0 5px black, 0 0 6px black, 0 0 7px black, 0 0 8px black, 0 0 9px black, 0 0 10px black,
    0 0 11px black;
}

.draw {
  height: 20px;
  width: 20px;
  margin: 0px;
  float: left;
}

/* header {
  position: sticky;
  top: 0;
} */

.showartifact {
  position: relative;
  top: 5px;
  z-index: 26;
  font-style: italic;
}

div {
  padding: 5px;
}

a:link {
  text-decoration: none;
}

.showhide {
  position: absolute;
  z-index: 5;
  background-color: black;
  color: white;
}

#image1 {
  top: 500px;
  left: 400px;
}
#image2 {
  top: 1000px;
  left: 400px;
}
#image3 {
  top: 500px;
  left: 900px;
}
#image4 {
  top: 600px;
  left: 60px;
}

.imagegamebackground {
  position: absolute;
  left: 50px;
  top: 370px;
  z-index: 0;
}

.homebackground {
  position: absolute;
  height: 50vh;
  z-index: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

button {
  background-color: transparent;
  border-width: 0;
  background-size: 100%;
}

.hand {
  position: fixed;
  left: 30px;
  width: 400px;
  z-index: 3;
}

/* Not just my artifacts index styling */

#handsonbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 11;
}

.greenglass {
  background-color: rgb(199, 202, 154);
  position: absolute;
  z-index: 1;
  top: 0;
 height: 1000000px;
 width: 10000000px;


  left: 0;
}

.scene {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

#artifacts-index {
  float: left;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.showingartifact {
  width: 180px;
}

.displayBox {
  background-image: url("/images/label.png");
  background-size: cover;
  z-index: 4;
  height: 130px;
  width: 270px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: small;
}

#onlabel {
  padding-left: 57px;
  padding-top: 40px;
  transform: rotate(-5deg);
  color: rgb(69, 69, 21, 0.8);
  font-family: "Lora";
}
#onlabel2 {
  padding-left: 68px;
  padding-top: -30px;
  transform: rotate(-5deg);
  color: rgba(69, 69, 21, 0.8);
  font-family: "Lora";
}

#pupils {
  position: absolute;
  left: var(--left);
  top: var(--top);
}

#signup {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(160, 160, 160);
  padding: 10px;
  color: rgb(10, 43, 10);
  text-align: center;
}

#login {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(160, 160, 160);
  padding: 10px;
  color: rgb(10, 43, 10);
  text-align: center;
}

/* BUTTON ROOM */

.buttonRoom {
  background-color: rgb(117, 119, 104);
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 180vh;
  top: 0;
  left: 0;
}
.curtains {
  position: absolute;
  z-index: 1;
  height: 675px;
  left: 50px;
  top: 20px;
}

.light {
  position: absolute;
  z-index: 3;
  height: 675px;
  left: 50px;
  top: 20px;
}

#stairs {
  z-index: 15;
  height: 310px;
  width: 150px;
  left: 70px;
  top: 200px;
  position: absolute;
}

#grate {
  z-index: 15;
  height: 35px;
  width: 50px;
  left: 830px;
  top: 115px;
  position: absolute;
}

.grateImage {
  z-index: 14;
  height: 675px;
  left: 50px;
  top: 20px;
  position: absolute;
}

#stairs2 {
  z-index: 14;
  height: 100px;
  border-radius: 30%;
  width: 100px;
  left: 850px;
  top: 480px;
  position: absolute;
}

.note {
  background-image: url("https://i.ibb.co/Vxt72dY/note2.png");
  z-index: 20;
  width: 50px;
  height: 50px;
  top: 490px;
  left: 212px;
  position: absolute;
}

.stairsImage {
  z-index: 0;
  height: 310px;
  width: 150px;
  left: 80px;
  top: 200px;
  position: absolute;
}

.opencurtain {
  z-index: 0;
  height: 315px;
  left: 542px;
  top: 190px;
  position: absolute;
}

.thousands {
  position: absolute;
  z-index: 3;
  height: 445px;
  left: 390px;
  top: 235px;
}

.thousands-shadow {
  position: absolute;
  z-index: 2;
  height: 475px;
  left: 400px;
  top: 245px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7)) blur(35px);
}

.roombackground {
  position: absolute;
  z-index: 2;
  height: 675px;
  left: -60px;
  top: 20px;
}

.basementbackground {
  position: absolute;
  z-index: 2;
  height: 675px;
  left: 5px;
  top: 20px;
}

.counter {
  position: absolute;
  z-index: 4;
  height: 675px;
  left: 50px;
  top: 20px;
}

.counterJulia {
  position: absolute;
  z-index: 3;
  height: 245px;
  left: 490px;
  top: 275px;
}

.top-box {
  z-index: 5;
  position: absolute;
  top: 320px;
  left: 400px;
  width: 30px;
  opacity: 90%;
}

#pupildiv{
  background-color: black;
  height: 10vh;
  width: 15vw;
  z-index: 40;
  top: 29%;
  left: 50%;
  position: absolute;
  display: inline-block;


}

.face {
  position: absolute;
  top: 2vh;
  height: 110vh;
  width: 110vw;
  left: -3vw;
  z-index: 19;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://i.ibb.co/C2dKw0h/facewall.png");
}

.foeglass {
  z-index: 10;
  top: 25%;
  left: 55%;
  background-color: white;
  border-radius: 100px;
  height: 12vw;
  width: 12vw;
  position: absolute;
}

#paintingcontents{
  background-color: transparent;
  height: 57vh;
  width: 45vw;
  z-index: 40;
  top: 15%;
  left: 1%;
  position: absolute;
}

.electricalbox {
  z-index: 20;
  position: absolute;
  bottom: 15%;
  left: 30%;
  width: 7vw;
}

.onelectricalbox {
  z-index: 40;
  position: absolute;
  bottom: 15%;
  left: 30%;
  width: 7vw;
  height: 7vw;
}

#wires {
  z-index: 40;
}

.redwire {
  width: .7vw;
  z-index: 50;
  position: absolute;
  left: 2.98vw;
  top: 5.8vh;
  height: 1vh;
}

.redwire2 {
  width: .7vw;
  z-index: 50;
  position: absolute;
  left: 3.7vw;
  top: 7.9vh;
  height: 1vh;
}

.bluewire {
  width: .7vw;
  z-index: 50;
  position: absolute;
  left: 3.7vw;
  top: 1.9vh;
  height: 2vh;
}

.bluewire2 {
  width: .7vw;
  z-index: 50;
  position: absolute;
  left: 2.5vw;
  top: 7.2vh;
  height: 1vh;
}

.eyesPaintingActual {
  position: absolute;
  z-index: 4;
  height: 675px;
  left: 50px;
  top: 20px;
}

#lightswitch {
  background-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 15;
  top: 310px;
  left: 740px;
  width: 42px;
  height: 40px;
}

#opencurtain {
  background-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 15;
  top: 220px;
  height: 250px;
  width: 110px;
  left: 590px;
}

.talk {
  position: absolute;
  background-color: transparent;
  color: transparent;
  z-index: 15;
  top: 290px;
  height: 90px;
  width: 50px;
  left: 520px;
}

#exit {
  position: absolute;
  z-index: 15;
  top: 70px;
  height: 60px;
  left: 100px;
}

.eyesPainting {
  background-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 15;
  top: 170px;
  height: 135px;
  width: 205px;
  left: 300px;
}

#artifactbox {
  background-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 15;
  top: 400px;
  height: 40px;
  width: 280px;
  left: 360px;
}

#artifactsinbox {
  position: absolute;
  z-index: 3;
  top: 400px;
  height: 40px;
  width: 280px;
  left: 360px;
}

#computer {
  position: absolute;
  z-index: 15;
  top: 350px;
  height: 60px;
  left: 430px;
}

#snakeText {
  padding-top: 0;
  font-size: small;
}

/* #pupilspainting {
  position: relative;
  left: var(--left);
  top: var(--top);
  z-index: 10;
  height: 675px;
} */
