.modal-background3 {
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  background-color: #00000095;
  z-index: 1000;
}

.modal-main3 {
  position: fixed;
  width: 700px;
  height: auto;
  top: 10%;
  left: 10%;
  padding: 1em;
}

.modal-main3 button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 2em;
  color: grey;
  right: 3em;
}