.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(87, 87, 87, 0.066);
  z-index: 1000;
}
.myform{
border-style: hidden;
background-color: transparent;
outline: none;
color: grey;
padding: 5px;
}

.myimage {
  opacity: 0.9;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.modal-main {
  background-image: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  color: grey;
   background-size: cover;
  position: fixed;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em;
  color: white;
  right: 0.2em;
}